[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = {extras = ["with_everything"],version = "*"}
pyflakes = "*"

[packages]
click = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
