[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
logging-tree = "*"
prospector = {extras = ["with_everything"],version = "*"}
pyflakes = "*"

[packages]
beautifulsoup4 = "*"
click = "*"
imap-tools = "*"
python-dotenv = "*"
python-telegram-bot = "*"
pyyaml = "*"
sentry-sdk = "*"

[requires]
python_version = "3.7"
